<ion-header>
  <ion-navbar  >
    <ion-title>Cadastrar vacina</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="addVacina(); $event.preventDefault()">
    
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Faixa de idade*</ion-label>
      <ion-input formControlName="faixaIdade" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.faixaIdade.dirty && formGroup.controls.faixaIdade.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Prevenção*</ion-label>
      <ion-input formControlName="prevencao" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.prevencao.dirty && formGroup.controls.prevencao.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Espécie*</ion-label>
      <ion-select formControlName="especie" >
        <ion-option value="1">Cão</ion-option>
        <ion-option  value="2">Gato</ion-option>
        <ion-option  value="3">Passáro</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Animal*</ion-label>
      <ion-select formControlName="animalId" >
        <ion-option *ngFor="let animal of animais; first as f" [value]="animal.id">{{animal.nome}}</ion-option>
      </ion-select>
    </ion-item>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Cadatrar</button>
  </form>
</ion-content>