<!--
  Generated template for the CadastrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastros</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item *ngIf="admin">
    <button ion-button block (click)="cadastrarAnimal()">Animal</button>
    <button ion-button block (click)="cadastrarVacina()">Vacina</button>
    <button ion-button block>Voluntário</button>
    <button ion-button block (click)="cadastrarAcompanhamento()">Acompanhamento</button>
    <button ion-button block>Voluntário</button>
  </ion-item>
  <ion-item *ngIf="voluntario">
    <button ion-button block (click)="cadastrarAnimal()">Animal</button>
    <button ion-button block (click)="cadastrarVacina()">Vacina</button>
    <button ion-button block (click)="cadastrarAcompanhamento()">Acompanhamento</button>
  </ion-item>
  <ion-item *ngIf="master">
    <button ion-button block (click)="cadastrarAnimal()">Animal</button>
    <button ion-button block (click)="cadastrarVacina()">Vacina</button>
    <button ion-button block (click)="cadastrarAcompanhamento()">Acompanhamento</button>
    <button ion-button block (click)="cadastrarAdministrador()">Administrador</button>    
    <button ion-button block (click)="cadastrarOng()">Ong</button> 
  </ion-item>    
</ion-content>
