<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acompanhamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="formGroup" (ngSubmit)="salvar(); $event.preventDefault()">

    <ion-input name="id" formControlName="id" type="hidden"></ion-input>
    <ion-input name="animal" formControlName="animal" type="hidden"></ion-input>

    <ion-item>      
      <ion-label stacked>Código</ion-label>
      <ion-input formControlName="codigo" type="text" [disabled]="true"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label stacked>Descrição*</ion-label>
      <ion-input formControlName="descricao" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.descricao.dirty && formGroup.controls.descricao.errors" margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>Status</ion-label>
      <ion-select Name="status" formControlName="status" [(ngModel)]="status">
          <ion-option [value]="1">Aberto</ion-option>
          <ion-option [value]="2">Agendado</ion-option>
          <ion-option [value]="3">Solicitado</ion-option>
          <ion-option [value]="4">Finalizado</ion-option>
      </ion-select>
    </ion-item>    
    <p class="danger" *ngIf="formGroup.controls.status.dirty && formGroup.controls.status.errors" margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>Situação</ion-label>
      <ion-select Name="situacao" formControlName="situacao" [(ngModel)]="situacao">
          <ion-option [value]="1">Otimo</ion-option>
          <ion-option [value]="2">Bom</ion-option>
          <ion-option [value]="3">Regular</ion-option>
          <ion-option [value]="4">Ruim</ion-option>
          <ion-option [value]="5">Analise</ion-option>
      </ion-select>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.situacao.dirty && formGroup.controls.situacao.errors" margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>Observação</ion-label>
      <ion-input formControlName="observacao" name="observacao" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Agendado:</ion-label>
      <ion-datetime displayFormat="DD MM YYYY" name="dataAgendado" formControlName="dataAgendado"  [(ngModel)]="dataAgendado"></ion-datetime> 
    </ion-item>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Salvar</button>
  </form>
</ion-content>
