<ion-header>

  <ion-navbar>
    <ion-title>{{item?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="animal" (ngSubmit)="editarAnimal(); $event.preventDefault()">
    
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="animal.controls.nome.dirty && animal.controls.nome.errors" margin-left>Valor inválido</p>

    <ion-list radio-group formControlName="castrado">
      <ion-list-header>
        Castrado
      </ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio checked="true" value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="animal.controls.castrado.dirty && animal.controls.castrado.errors" margin-left>Valor inválido</p>
    
    <ion-list radio-group formControlName="vermifugado">
      <ion-list-header>
        Vermifugado
      </ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio checked="true" value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="animal.controls.vermifugado.dirty && animal.controls.vermifugado.errors" margin-left>Valor inválido</p>

    <ion-list radio-group formControlName="porte">
      <ion-list-header>
        Porte
      </ion-list-header>
      <ion-item>
        <ion-label>Pequeno</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Médio</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Grande</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="animal.controls.porte.dirty && animal.controls.porte.errors" margin-left>Valor inválido</p>

    <ion-list radio-group formControlName="genero">
      <ion-list-header>
        Gênero
      </ion-list-header>
      <ion-item>
        <ion-label>Macho</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Fêmea</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="animal.controls.genero.dirty && animal.controls.genero.errors" margin-left>Valor inválido</p>
    
   
    <button ion-button block type="submit" [disabled]="animal.invalid">Editar</button>
  </form>
</ion-content>
